
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detalhe-container{
    display: flex;
    width: 80%;
    height: 700px;
    margin: 3% 10%;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(148, 148, 148);
}
